HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Audio/Media Files ###
*.mp3
*.wav
*.flac
*.m4a
*.aac

### Data Files ###
*.dat
*.json
*.properties
!**/src/main/resources/*.properties

### System Files ###
.DS_Store
Thumbs.db

### IDE/Editor ###
*.swp
*.swo
*~


